@charset "UTF-8";
@import url('reset.css');

.document-content {
    background-color: #FD940A;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.document-tree__title {
    position: absolute;
    left: 16px;
    right: 16px;
    z-index: 100;
    border: 0;
    background: #3198dd;
    margin: 0;
    padding: 10px 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#3198dd));
    background-image: -moz-linear-gradient(top,#33acfc,#3198dd);
    text-shadow: #2187c8 0 -1px 1px;
}

.document-tree {
    background: #424242;
    padding: 20px 5px 20px 5px;
    margin: 30px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
}

.document-tree .triangle-l {
    content: '';
    position: absolute;
    left: 4px;
    top: 85px;
    border-color: transparent #2083c2 transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
}

.document-tree .triangle-r {
    content: '';
    position: absolute;
    right: 4px;
    top: 85px;
    border-color: transparent transparent transparent #2083c2;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
}


.document-tree > ul a {
    color: #fff;
    text-decoration: none;
}

.document-tree > ul a:hover {
    text-decoration: underline;
}

.document-tree ul, .document-tree li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.document-tree > ul {
    color: #fff;
    margin: 60px 0 0;
}

.document-tree li {
    padding: 5px 0 5px 20px;
}

.document-tree > ul > li ul {
    display: none;
}

.document-tree li.active > ul {
    display: block;
}

.document-tree li button.dir {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
}

.document-tree li .fa {
    margin: 0 6px 0 0;
}

.document-tree li.active > .dir .fa {
    color: #35b0ff;
    margin: 0 4px 0 0;
}

.document-tree li.active > .dir .fa::before {
    content: "\f07c";
}
