<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="author" content="richready2011@gmail.com">
  <link rel="stylesheet" href="/resources/css/styles.css">
</head>

<body>
{% block content %}
This is the default content
{% endblock %}
</body>
</html>
