<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/resources/css/document.css">
</head>

<body>
<div class="function">

</div>
{% block content %}
This is the default content
{% endblock %}
</body>
</html>
