<meta name="description" content="">
<meta name="author" content="richready2011@gmail.com">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
<link rel="stylesheet" href="/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.css">

<script type="text/javascript" src="/resources/js/common.js"></script>
