{% extends "layout/document.njk" %}{% block content %}    {{ markdown | safe }}</div>{% endblock %}{% block function %}    <button type="button" class="button button-copyhtml">copy Clipboard HTML</button>{% endblock %}{% block script %}<script type="text/javascript">    function copyToClipboard( selector ) {        var targetContent = document.querySelector(selector).innerHTML,            t = document.createElement("textarea");        document.body.appendChild(t);        t.value = targetContent;        t.select();        return new Promise(function(resolve, reject) {            document.execCommand('copy');            document.body.removeChild(t);            resolve();        });    }    document.querySelector('.button-copyhtml').addEventListener('click', function(e) {        copyToClipboard( '#content' ).then(function() {            alert('복사되었습니다.');        });    });</script>{% endblock %}